/* common */
.background__color--blue {
    background-color: #3b5998;
}

.text__color--grey {
    color: #e1e1e1;
}

.text__color--blue {
    color: #3b5998;
}

.position__top--0 {
    top: 0;
}

.position__left--0 {
    left: 0;
}

.position__right--0 {
    right: 0;
}

.margin--0 {
    margin: 0;
}

.padding__left--10 {
    padding-left: 10px;
}

.padding__left--340{
    padding-left: 340px;
}

body {
    background-color: #e1e1e1;
}

h1 {
    font-family: "Dosis", sans-serif;
    font-weight: bold;
}

h3, h4 {
    font-family: "Dosis", sans-serif;
    font-weight: normal;
}

p {
    font-family: "Dosis", sans-serif;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

.content {
    padding-top: 250px;
}

/* facebookConnect.html */

.btn-social:hover {
    color: #ffffff;
}

.top-header {
    position: absolute;
    width: 100%;
    height: 200px;
    text-align: center;
}

.top-header h1 {
    margin-top: 35px;
    font-size: 80px;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
}

/* index.html */
.profile-header {
    z-index: 800;
    position: fixed;
    padding: 15px 30px;
}

.profile-picture {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 54px;
    height: 54px;
}

.profile-picture img {
    position: absolute;
    height: 54px;
    right: 0;
    bottom: 0;
}

.profile-header h3 {
    position: absolute;
    display: inline-block;
    top: 33px;
}

.facebook-logo {
    position: absolute;
    top: 26px;
    right: 30px;
    display: inline-block;
    background: url(../images/logo-white-54.png) no-repeat;
    background-size: contain;
    width: 34px;
    height: 34px;
}

.facebook-post {
    background: #ffffff;
    margin-bottom: 30px;
}

.facebook-post div {
    padding: 10px;
}

.facebook-post .post-info {
    display: inline-block;
}

.facebook-post img {
    margin-bottom: 10px;
}
