/* common */
.background__color--blue {
    background-color: #29608e;
}

.text__color--grey {
    color: #e1e1e1;
}

.position__top--0 {
    top: 0;
}

.position__left--0 {
    left: 0;
}

.position__right--0 {
    right: 0;
}

.margin--0 {
    margin: 0;
}

.padding__left--5 {
    padding-left: 5px;
}

body {
    background-color: #e1e1e1;
}

h1 {
    font-family: "Dosis", sans-serif;
    font-weight: bold;
}

h3 {
    font-family: "Dosis", sans-serif;
    font-weight: normal;
}

p {
    font-family: "Dosis", sans-serif;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

/* linkedinConnect.html */

.btn-social:hover {
    color: #ffffff;
}

.top-header {
    position: absolute;
    width: 100%;
    height: 200px;
    text-align: center;
}

.top-header h1 {
    margin-top: 35px;
    font-size: 80px;
}

.content {
    padding-top: 250px;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
}

/* index.html */
.profile-header {
    position: fixed;
    padding: 15px 30px;
    padding-right: 30px;
}

.profile-info {
    display: inline-block;
    vertical-align: top;
}

.profile-picture {
    display: inline-block;
    width: 54px;
    height: 54px;
}

.profile-info p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 0.75em;
}

.linkedin-logo {
    position: absolute;
    top: 31px;
    right: 30px;
    display: inline-block;
    background: url(../images/logo-white-54.png) no-repeat;
    background-size: contain;
    width: 34px;
    height: 29px;
}
