<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>
    <title>LinFilter</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
    <header class="profile-header background__color--blue position__left--0 position__right--0 position__top--0">
        <div class="profile-picture">e1e1e1
            <img th:src="'https://graph.facebook.com/' + ${id} + '/picture?type=normal'" rel="" />
        </div>
        <h3 class="text__color--grey margin--0 padding__left--10" th:text="${firstName} + ' ' + ${lastName}"></h3>
        <a title="Open in Facebook" target="_blank" class="facebook-logo" ></a>
    </header>
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-3" th:each="post:${feed}">
                <div class="facebook-post">
                    <div class="background__color--blue">
                        <h4 class="text__color--grey" th:text="${post.from.name} + ' wrote:'"></h4>
                    </div>
                    <div>
                        <img th:if="${post.picture}" th:src="${post.picture}" />
                        <p class="text__color--blue" th:text="${post.message}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>